@import url("https://fonts.googleapis.com/css2?family=Commissioner:wght@400;500;700&display=swap");

body {
  background: url(image-hero-desktop.jpg) no-repeat;
  background-color: rgb(226, 226, 226);
  background-size: contain;
  font-size: 16px;
  font-family: "Commissioner", sans-serif;
  color: hsl(0, 0%, 48%);
}

h1,
h2,
h3,
h4 {
  color: black;
}

body a {
  text-decoration: none;
  color: inherit;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: white;
  padding: 20px 130px;
  font-size: 14px;
}

.navbar a {
  margin-left: 20px;
  margin-top: 15px;
}

main section:first-child {
  margin-top: 190px;
}

section {
  background: #ffffff;
  border-radius: 5px;
  box-shadow: 2px 2px 3px 3px rgba(0, 0, 0, 0.01);
  width: 55%;
  margin: 20px auto 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  padding: 40px 50px;
}

section h2 {
  margin: 10px 0;
}

.logo-mastercraft {
  position: absolute;
  top: -30px;
}

.buttons {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.buttons p:first-child,
button {
  padding: 15px 30px;
  border-radius: 30px;
  border: none;
  color: white;
  background-color: hsl(176, 50%, 47%);
}

.buttons p:first-child:hover,
button:hover {
  cursor: pointer;
  background-color: hsl(176, 72%, 28%);
}

.buttons p {
  font-weight: 700;
}

.buttons p + p {
  cursor: pointer;
  padding: 15px 30px 15.5px 60px;
  border-radius: 30px;
  background-color: hsl(0, 0%, 93%);
  color: hsl(0, 0%, 48%);
  position: relative;
}

.buttons p + p:hover img {
  opacity: 0.7;
}

.buttons p + p img {
  position: absolute;
  top: 0;
  left: 0;
  height: 50px;
}

/* NUMBERS DIV */

.numbers-divs {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

.numbers-divs h4 {
  font-size: 30px;
  margin: 0;
}

.numbers-div {
  width: 30%;
  display: flex;
  flex-direction: column;
}

.progress-bar-container {
  margin-top: 20px;
  width: 100%;
  background-color: hsl(0, 0%, 93%);
  height: 10px;
  border-radius: 25px;
  box-shadow: 2px 2px 3px 3px rgba(0, 0, 0, 0.01);
}

.progress-bar-content {
  border-radius: 25px;
  height: 10px;
  background-color: hsl(176, 50%, 47%);
}

/* OPTIONS SECTIONS */

.options-section > h3 {
  width: 100%;
  margin: 0 0 20px 0;
}

.options-section > div {
  border: 1px solid hsl(0, 0%, 82%);
  border-radius: 10px;
  margin: 10px 0;
  padding: 20px;
}

.options-section div div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 70px;
}

.options-section > div:last-child {
  opacity: 0.5;
}

.options-section button:disabled {
  background-color: rgb(49, 49, 49);
  cursor: inherit;
}

.options-section div div strong {
  color: black;
  font-size: 30px;
  margin-right: 5px;
}

.options-section div div h5 {
  color: hsl(176, 50%, 47%);
}

/* MODAL SECTION */

.options-modal-section {
  width: 55%;
  top: -100px;
  height: 400px;
  overflow-x: hidden;
  overflow-y: auto;
  position: relative;
}

.overlay {
  background: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  display: flex;
  justify-content: center;
  align-items: center;
}

.single-option {
  display: flex;
  align-items: baseline;
  border: 1px solid hsl(0, 0%, 82%);
  border-radius: 10px;
  margin: 10px 0;
  padding: 20px;
}

.single-option input {
  margin-right: 10px;
}

.options-modal-section > img {
  cursor: pointer;
  position: absolute;
  right: 20px;
  top: 25px;
}

.options-modal-section > p,
h3 {
  width: 100%;
  margin: 10px 0 20px 0;
}
